POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret

ACTIVEMQ_BROKER_URL=tcp://localhost:61616
ACTIVEMQ_USER=admin
ACTIVEMQ_PASSWORD=admin

MONGODB_URI=mongodb://localhost:27017/trainer_workload
